{% extends 'website/base.html' %}

{% block title %}
    About the Author
{% endblock %}

{% block content %}
    <div>
        <h3 id="heading" style="margin-bottom: 5%">About Me</h3>
        <img style="margin-bottom: 5%" src="https://avatars2.githubusercontent.com/u/16524406?v=3&s=460" class="img-responsive" style="margin: 0 auto;" id="me">
        <p style="margin-bottom: 5%">Hey visitor, I am Diksha, the developer of this website. I know you expected this page to be the about page for Hogwarts. Even I had that idea in my mind earlier but God knows why, I kinda changed it at last moment. And instead decided to make this page about me. So, I was born in India and have lived here since Birth. Presently I am a fresher at college. I did my schooling from Kendriya Vidyalaya Sangathan aka 'central school'. I started liking Computer Science when I was in my last years of High School. I wish I had been introduced to this wonder called Internet earlier. 
<p>Anyways, you guys have this gem with you. Make the best use of it.</p>
        </p>
        <p>PS: You can contact me at <a href="mailto: dikshamodi28@gmail.com">dikshamodi28@gmail.com</a>
        </p><br>
        <p>Sayonara</p>
    </div>
{% endblock %}
