{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}Hogwarts School of Witchcraft and Wizardry{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
   
 <link href="https://fonts.googleapis.com/css?family=Frijole|Great+Vibes|Kelly+Slab|Rye|Trocchi" rel="stylesheet">  
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>

<body>
 <div class="container-fluid">
    <div class="row" style="background-color: black;">
        <header class="page-header">
            <div id="wrapper" class="col-md-2 col-xs-12 col-sm-12">
                <img id="logo" class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/736x/1c/b2/d4/1cb2d484c1479f90eea425bf963936a6--harry-potter-craft-harry-potter-movies.jpg">
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <h1 id="top">Hogwarts School of Witchcraft and Wizardry</h1>
            </div>
        </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <nav class="navbar navbar-inverse" style="border-radius: 0">
                <div class ="container-fluid">
                    
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" class="navbar-toggle" data-target="#menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav nav">
                            <li><a href="{% url 'website:index' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                            <li><a href="{% url 'website:about' %}">About</a></li>
                            <li><a href="{% url 'website:faculty-list-view' %}">Faculty</a></li>
                            <li><a href="#">Students</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Houses <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Gryffindor</a></li>
                                    <li><a href="#">Hufflepuff</a></li>
                                    <li><a href="#">Ravenclaw</a></li>
                                    <li><a href="#">Slytherin</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Photo Gallery</a></li>
                            <li><a href="#">Results</a></li>
                        </ul>
                        <ul class="navbar-nav nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Register</a></li>
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-user"></span> 
                                    {% if user.is_authenticated %}
                                        Log Out
                                    {% else %}
                                        Log In
                                    {% endif %}
                                </a>
                            </li>
                       </ul>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="left-div col-md-3 col-xs-12 col-sm-12">
            <div class="left">
                <h3 class="link-heading">Other Links</h3>
                <ul class="side">
                    <li><a href="#">Infrastructure</a></li>
                    <li><a href="#">Alumini Register Here</a></li>
                    <li><a href="#">Acheivements</a></li>
                    <li><a href="#">Rules and Regulations</a></li>
                </ul>
            </div>
        </div>
        <div class="middle-div col-md-6 col-xs-12 col-sm-12">
            <div class="middle">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="right-div col-md-3 col-xs-12 col-sm-12">
            <div class="right">    
                <h3 class="link-heading">Current News</h3><hr>
                <ul class="side">
                    {% for news in news_list %}
                        <li><a href="#">{{ news.date }}: {{ news.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>      
    </div>
 </div>
</body>

</html>
