{% extends 'website/base.html' %}

{% block content %}
    <div class="content">
        
        <h5 id="heading">Welcome to Hogwarts School of Witchcraft and Wizardry</h5><hr><br>
        <img src = "https://vignette3.wikia.nocookie.net/harrypotter/images/b/bd/Dhogwarts.jpg/revision/latest/scale-to-width-down/350?cb=20120128145344" class="img-responsive">
        
        <div class="inner">
            <p>Here at Hogwarts, we strive to provide the best magical education in the Jungle. Anyone belonging to Kingdom <i>Animalia</i> is welcome here.</p>
            <p>Hogwarts has House system. This means each student is sorted in a house at the time of their admission. We currently have four Houses - Gryffindor, Slytherin, Ravenclaw and Hufflepuff. Each house has succeeded in providing the world amazing alumini. Each house has their own general characteristics, and a student is sorted in a house that matches the student's character better. As an example, Gryffindors are known for their bravery while Ravenclaws for their intelligence. Slytherins are clever and Hufflepuffs are strong believers of hardwork.</p>
            <p>To know more about a house, visit the house under the houses tab from the main menu</p>
            <p>To find out your house, take the sorting quiz. The link to the sorting quiz is given <a href="">here</a></p>
            <p>If you are a student, just remember: <i><b><q style="color: purple">Help is always given at Hogwarts to those who ask for it</q></b></i>
        </div>
    </div>
{% endblock %}
