{% extends 'website/base.html' %}

{% block title %}Our Infrastructure{% endblock %}

{% block content %}
    <h1 id="heading">Infrastructure</h1>
    <div class="container-fluid" style="padding:2%">
        {% for item in infrastructure_list %}
            <div style="padding:2%">
                <img src="{{ item.picture.url }}" id="castle" class="img-responsive" style="float:right; margin:1%">
                <h3 style="font-family: 'rye'">{{ item.name }}</h3>
                <br>
                <p><strong>Number: </strong>{{ item.no }}</p>
                <p><strong>Description: </strong>{{ item.description }}</p>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}
