{% extends 'website/base.html' %}

{% block title %}
Our Students' List
{% endblock %}

{% block content %}
    <h3 id="heading">List of Students</h3>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Year</td>
                <td>House</td>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
                <tr>
                    <td><a href="{{ student.get_absolute_url }}">{{ student.name }}</a></td>
                    <td>{{ student.year }}</td>
                    <td>{{ student.house }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
