img{
    margin: 0 auto;
    height: 20vh;
    width: 9vw;
}

ul {
    list-style-type: square;
}

#wrapper{
    padding: 5px;
}

.page-header{
    display: inline;
    background-color: black;
}

#top{
    text-align: center;
    color: pink;
    font-size: 5vw;
    font-family: 'Great Vibes', cursive;
    margin-top: 3%;
    margin-left: -5%; 
}

.left, .right{
    border: 3px solid skyblue;
    border-radius: 5px;
    background: lightcyan;
    padding: 3%;
}

.middle-div{
    padding: 1% 4% 4% 4% !important;
}

.left-div{
    padding: 1% 4% 2% 4% !important;
}

.right-div{
    padding-right: 4% !important;
    padding-left: 4% !important;
    padding-top: 2%; !important;
}

.middle-div{
    background: white;
    box-shadow: 4px 4px #ddd;
    border: 2px solid #edd;
	margin-top: 1%;
	margin-bottom: 3%;
}

.middle{
    padding: 3%;
    text-align: justify;
    font-family: 'trocchi', cursive;
    font-size: 1.3vw;
}

.side li a{
    font-size: 1.2vw;
	text-align: justify;
}

#heading{
    font-size: 2.5vw;
    text-align: center;
    font-family: 'rye', cursive;
	margin-bottom: 5%;
}

.link-heading{
    font-size: 2vw;
    text-align: center;
    font-style: bold;
    font-family: 'rye', cursive;
}

body{
    background-image: url('http://www.designbolts.com/wp-content/uploads/2012/12/Silver-scale-White-Seamless-Texture-For-Website-Background.jpg');
}

#castle{
	height: 15vw;
	width: 17vw;	
}

#me{
	height: 30vw;
	width: 30vw;
}

.house{
	margin-top: 3%;
	border-radius:8px;
	border: 2px solid black;
	padding: 2vw;
}















